/* 
Akhil Puthenpurackal Rethnakaran
301306356
27-09-2023

*/
body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.home-container {
    background-color: rgba(255, 255, 255, 0.9);
    color: #333;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    margin: 20px;
}

h1 {
    font-size: 48px;
}

p {
    font-size: 24px;
}

.links {
    margin-top: 20px;
}

.links a {
    margin: 10px;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
}