<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

    <!--<img src="img/logo.png" alt="logo">-->
    <style>
        body {
            background-color: #f0f0f0;
        }
        .about-container {
            background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), center/cover no-repeat;
            color: white;
            padding: 50px;
        }
        h1 {
            font-size: 32px;
        }
        p {
            font-size: 18px;
        }
    </style>


<main class="ontainer">
<div class="jumbotron">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <div class="about-container">
                    <h1>Akhil Rethnakaran</h1>
                    <p class="lead">MERN Stack full-stack developer and data scientist with a passion for building web applications and extracting insights from data. I have a strong background in Python, Django, React, and data analysis.</p>
                    <p>With a deep interest in data science, I enjoy working on projects that involve machine learning, data visualization, and predictive analytics. I'm constantly learning and exploring new technologies to expand my skill set. Currently pursuing Software Engineering Diploma at Centennial College.</p>
                    <a href="/Assets/files/Akhil_PR_Resume.pdf" class="btn btn-primary" download>Download  Resume</a>   
                                 
                </div>
            </div>
            <div class="col-md-6">
                <!-- Image with gradient effect -->
                <img src="/img/akhil_pr.png" alt="Akhil's Photo" class="img-fluid">
            </div>
        </div>
    </div>
</main>

      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>



   