<%- include ('partials/header.ejs') %>
    <%- include ('partials/main_nav.ejs') %>

    <link rel="stylesheet" type="text/css" href="/Content/style.css">

        <main class="ontainer">
            <div class="container mt-5"> 
                <div class="home-container">
                    <h1>Welcome to My Portfolio!</h1>
                    <p class="lead">I'm Akhil Rethnakaran, a  Full-stack developer and data scientist with a
                        passion for technology and data-driven solutions. I love playing with data, and have keen interest in natural language processing. </p>
                    <p>Explore my projects and learn more about me.</p>
                    <div class="links">
                        <a href="/projects">Projects</a>
                        <a href="/about">About Me</a>
                    </div>
                </div>
            </div>
        </main>

        <%- include ('partials/bottom_nav.ejs') %>
        <%- include ('partials/footer.ejs') %>