<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

    <!--<img src="img/logo.png" alt="logo">-->

<main class="ontainer">
<div class="jumbotron">

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="img/programming.jpg" class="card-img-top" alt="General Programming">
                    <div class="card-body">
                        <h5 class="card-title">General Programming</h5>
                        <p class="card-text">Custom software development, coding, and problem-solving.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="img/web-development.jpg" class="card-img-top" alt="Web Development">
                    <div class="card-body">
                        <h5 class="card-title">Web Development</h5>
                        <p class="card-text">Building responsive websites and web applications using modern technologies.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="img/machine-learning.jpg" class="card-img-top" alt="Machine Learning">
                    <div class="card-body">
                        <h5 class="card-title">Machine Learning</h5>
                        <p class="card-text">Developing machine learning models and applications for data-driven solutions.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="img/data-analysis.jpg" class="card-img-top" alt="Data Analysis">
                    <div class="card-body">
                        <h5 class="card-title">Data Analysis</h5>
                        <p class="card-text">Exploring and analyzing data to extract valuable insights and trends.</p>
                    </div>
                </div>
            </div>
            <!-- Add more service cards as needed -->
        </div>
    </div>    </div>
</main>

      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>



   